.footer{
    padding: 20px 10px;
    width: 100%;
    background: #2e2e2e;
}
.footer ul{
 display: flex;
 align-items: center;
 justify-content: center;
 list-style-type: none;
}
.footer ul li{
    
}
.footer ul li a.footer-link{
    color: #fff;
    font-size: 16px;
    line-break: 22px;
    font-weight: 600;
    text-decoration: uppercase;
}